In [1]:
import pandas as pd

WSJ = pd.read_csv('WSJ.csv')

Reuters = pd.read_csv('Reuters.csv')

Business = pd.read_csv('business.csv')

deltaOne = pd.read_csv('deItaone.csv')

financialJuice = pd.read_csv('financialjuice.csv')

firstSquawk = pd.read_csv('FirstSquawk.csv')

priapusIQ = pd.read_csv('PriapusIQ.csv')

unusualWhales = pd.read_csv('unusualWhales.csv')

zeroHedge = pd.read_csv('zeroHedge.csv')

yahooFinance = pd.read_csv('YahooFinance.csv')


df = pd.merge(WSJ, Reuters, how = 'outer')
df = pd.merge(df, Business, how = 'outer')
df = pd.merge(df, deltaOne, how = 'outer')
df = pd.merge(df, financialJuice, how = 'outer')
df = pd.merge(df, firstSquawk, how = 'outer')
df = pd.merge(df, priapusIQ, how = 'outer')
df = pd.merge(df, unusualWhales, how = 'outer')
df = pd.merge(df, zeroHedge, how = 'outer')
df = pd.merge(df, yahooFinance, how = 'outer')

df = df.drop(['Unnamed: 0'],axis=1)
df['Date'] = df['Date'].str.slice(0,10)

In [2]:
df

,Date,Content,Username
0,2023-04-20,"Review: Betty Gilpin stars as Sister Simone, w...",WSJ
1,2023-04-20,From @WSJopinion: Donald Trump thinks Ron DeSa...,WSJ
2,2023-04-20,Heard on the Street: It shouldn’t have been a ...,WSJ
3,2023-04-20,Michael and Mallory Bollinger's Lexington home...,WSJ
4,2023-04-20,Michelangelo may have secretly painted himself...,WSJ
...,...,...,...
116136,2023-01-03,The Buffalo Bills’ Damar Hamlin continues to b...,YahooFinance
116137,2023-01-03,It's the U.S. stock market's first day of trad...,YahooFinance
116138,2023-01-03,FTX’s Sam Bankman-Fried is set to appear in fe...,YahooFinance
116139,2023-01-03,“Whether it’s a two-track year that’s front-lo...,YahooFinance
116140,2023-01-03,$TSLA shares dip while the EV developer report...,YahooFinance

In [3]:
df['Date'].unique()

array(['2023-04-20', '2023-04-19', '2023-04-18', '2023-04-17',
       '2023-04-16', '2023-04-15', '2023-04-14', '2023-04-13',
       '2023-04-12', '2023-04-11', '2023-04-10', '2023-04-09',
       '2023-04-08', '2023-04-07', '2023-04-06', '2023-04-05',
       '2023-04-04', '2023-04-03', '2023-04-02', '2023-04-01',
       '2023-03-31', '2023-03-30', '2023-03-29', '2023-03-28',
       '2023-03-27', '2023-03-26', '2023-03-25', '2023-03-24',
       '2023-03-23', '2023-03-22', '2023-03-21', '2023-03-20',
       '2023-03-19', '2023-03-18', '2023-03-17', '2023-03-16',
       '2023-03-15', '2023-03-14', '2023-03-13', '2023-03-12',
       '2023-03-11', '2023-03-10', '2023-03-09', '2023-03-08',
       '2023-03-07', '2023-03-06', '2023-03-05', '2023-03-04',
       '2023-03-03', '2023-03-02', '2023-03-01', '2023-02-28',
       '2023-02-27', '2023-02-26', '2023-02-25', '2023-02-24',
       '2023-02-23', '2023-02-22', '2023-02-21', '2023-02-20',
       '2023-02-19', '2023-02-18', '2023-02-17', '2023-02-16',
       '2023-02-15', '2023-02-14', '2023-02-13', '2023-02-12',
       '2023-02-11', '2023-02-10', '2023-02-09', '2023-02-08',
       '2023-02-07', '2023-02-06', '2023-02-05', '2023-02-04',
       '2023-02-03', '2023-02-02', '2023-02-01', '2023-01-31',
       '2023-01-30', '2023-01-29', '2023-01-28', '2023-01-27',
       '2023-01-26', '2023-01-25', '2023-01-24', '2023-01-23',
       '2023-01-22', '2023-01-21', '2023-01-20', '2023-01-19',
       '2023-01-18', '2023-01-17', '2023-01-16', '2023-01-15',
       '2023-01-14', '2023-01-13', '2023-01-12', '2023-01-11',
       '2023-01-10', '2023-01-09', '2023-01-08', '2023-01-07',
       '2023-01-06', '2023-01-05', '2023-01-04', '2023-01-03'],
      dtype=object)

In [4]:
df.to_csv('AllTweets.csv')

In [5]:
NASDAQ = pd.read_csv('NASDACindex.csv')
NASDAQ

          Date  Close/Last  Prev Day     Dif Target
0   2023-04-24    12037.20  12072.46  -35.26   Down
1   2023-04-21    12072.46  12059.56   12.90     Up
2   2023-04-20    12059.56  12157.23  -97.67   Down
3   2023-04-19    12157.23  12153.41    3.82     Up
4   2023-04-18    12153.41  12157.72   -4.31   Down
..         ...         ...       ...     ...    ...
72  2023-01-09    10635.65  10569.29   66.36     Up
73  2023-01-06    10569.29  10305.24  264.05     Up
74  2023-01-05    10305.24  10458.76 -153.52   Down
75  2023-01-04    10458.76  10386.98   71.78     Up
76  2023-01-03    10386.98  10466.48  -79.50   Down

[77 rows x 5 columns]

In [6]:
NASDAQ['Date'].unique()

array(['2023-04-24', '2023-04-21', '2023-04-20', '2023-04-19',
       '2023-04-18', '2023-04-17', '2023-04-14', '2023-04-13',
       '2023-04-12', '2023-04-11', '2023-04-10', '2023-04-06',
       '2023-04-05', '2023-04-04', '2023-04-03', '2023-03-31',
       '2023-03-30', '2023-03-29', '2023-03-28', '2023-03-27',
       '2023-03-24', '2023-03-23', '2023-03-22', '2023-03-21',
       '2023-03-20', '2023-03-17', '2023-03-16', '2023-03-15',
       '2023-03-14', '2023-03-13', '2023-03-10', '2023-03-09',
       '2023-03-08', '2023-03-07', '2023-03-06', '2023-03-03',
       '2023-03-02', '2023-03-01', '2023-02-28', '2023-02-27',
       '2023-02-24', '2023-02-23', '2023-02-22', '2023-02-21',
       '2023-02-17', '2023-02-16', '2023-02-15', '2023-02-14',
       '2023-02-13', '2023-02-10', '2023-02-09', '2023-02-08',
       '2023-02-07', '2023-02-06', '2023-02-03', '2023-02-02',
       '2023-02-01', '2023-01-31', '2023-01-30', '2023-01-27',
       '2023-01-26', '2023-01-25', '2023-01-24', '2023-01-23',
       '2023-01-20', '2023-01-19', '2023-01-18', '2023-01-17',
       '2023-01-13', '2023-01-12', '2023-01-11', '2023-01-10',
       '2023-01-09', '2023-01-06', '2023-01-05', '2023-01-04',
       '2023-01-03'], dtype=object)

In [7]:
NASDAQ = NASDAQ.set_index('Date')

In [8]:
invalid_dates = {
'2023-01-07',
'2023-01-08',
'2023-01-14',
'2023-01-15',
'2023-01-16',
'2023-01-21',
'2023-01-22',
'2023-01-28',
'2023-01-29',
'2023-02-04',
'2023-02-05',
'2023-02-11',
'2023-02-12',
'2023-02-18',
'2023-02-19',
'2023-02-20',
'2023-02-25',
'2023-02-26',
'2023-03-04',
'2023-03-05',
'2023-03-11',
'2023-03-12',
'2023-03-18',
'2023-03-19',
'2023-03-25',
'2023-03-26',
'2023-04-01',
'2023-04-02',
'2023-04-07',
'2023-04-08',
'2023-04-09',
'2023-04-15',
'2023-04-16',
'2023-04-22',
'2023-04-23'
}

df = df[~df['Date'].isin(invalid_dates)]

In [9]:
df

,Date,Content,Username
0,2023-04-20,"Review: Betty Gilpin stars as Sister Simone, w...",WSJ
1,2023-04-20,From @WSJopinion: Donald Trump thinks Ron DeSa...,WSJ
2,2023-04-20,Heard on the Street: It shouldn’t have been a ...,WSJ
3,2023-04-20,Michael and Mallory Bollinger's Lexington home...,WSJ
4,2023-04-20,Michelangelo may have secretly painted himself...,WSJ
...,...,...,...
116136,2023-01-03,The Buffalo Bills’ Damar Hamlin continues to b...,YahooFinance
116137,2023-01-03,It's the U.S. stock market's first day of trad...,YahooFinance
116138,2023-01-03,FTX’s Sam Bankman-Fried is set to appear in fe...,YahooFinance
116139,2023-01-03,“Whether it’s a two-track year that’s front-lo...,YahooFinance
116140,2023-01-03,$TSLA shares dip while the EV developer report...,YahooFinance

In [10]:
DateTargetDict = NASDAQ.to_dict('dict')['Target']
DateTargetDict

{'2023-04-24': 'Down',
 '2023-04-21': 'Up',
 '2023-04-20': 'Down',
 '2023-04-19': 'Up',
 '2023-04-18': 'Down',
 '2023-04-17': 'Up',
 '2023-04-14': 'Down',
 '2023-04-13': 'Up',
 '2023-04-12': 'Down',
 '2023-04-11': 'Down',
 '2023-04-10': 'Down',
 '2023-04-06': 'Up',
 '2023-04-05': 'Down',
 '2023-04-04': 'Down',
 '2023-04-03': 'Down',
 '2023-03-31': 'Up',
 '2023-03-30': 'Up',
 '2023-03-29': 'Up',
 '2023-03-28': 'Down',
 '2023-03-27': 'Down',
 '2023-03-24': 'Up',
 '2023-03-23': 'Up',
 '2023-03-22': 'Down',
 '2023-03-21': 'Up',
 '2023-03-20': 'Up',
 '2023-03-17': 'Down',
 '2023-03-16': 'Up',
 '2023-03-15': 'Up',
 '2023-03-14': 'Up',
 '2023-03-13': 'Up',
 '2023-03-10': 'Down',
 '2023-03-09': 'Down',
 '2023-03-08': 'Up',
 '2023-03-07': 'Down',
 '2023-03-06': 'Down',
 '2023-03-03': 'Up',
 '2023-03-02': 'Up',
 '2023-03-01': 'Down',
 '2023-02-28': 'Down',
 '2023-02-27': 'Up',
 '2023-02-24': 'Down',
 '2023-02-23': 'Up',
 '2023-02-22': 'Up',
 '2023-02-21': 'Down',
 '2023-02-17': 'Down',
 '2023-02-16': 'Down',
 '2023-02-15': 'Up',
 '2023-02-14': 'Up',
 '2023-02-13': 'Up',
 '2023-02-10': 'Down',
 '2023-02-09': 'Down',
 '2023-02-08': 'Down',
 '2023-02-07': 'Up',
 '2023-02-06': 'Down',
 '2023-02-03': 'Down',
 '2023-02-02': 'Up',
 '2023-02-01': 'Up',
 '2023-01-31': 'Up',
 '2023-01-30': 'Down',
 '2023-01-27': 'Up',
 '2023-01-26': 'Up',
 '2023-01-25': 'Down',
 '2023-01-24': 'Down',
 '2023-01-23': 'Up',
 '2023-01-20': 'Up',
 '2023-01-19': 'Down',
 '2023-01-18': 'Down',
 '2023-01-17': 'Up',
 '2023-01-13': 'Up',
 '2023-01-12': 'Up',
 '2023-01-11': 'Up',
 '2023-01-10': 'Up',
 '2023-01-09': 'Up',
 '2023-01-06': 'Up',
 '2023-01-05': 'Down',
 '2023-01-04': 'Up',
 '2023-01-03': 'Down'}

In [11]:
groupDate = df.groupby('Date',group_keys=True)
df = groupDate.apply(lambda x: x.assign(Target=DateTargetDict[x.name]))
df = df.drop('Date',axis=1)
df

                                                             Content  \
Date
2023-01-03 10360   Breaking: An abortion pill will be made more w...
           10361   Rivian fell short of its 25,000-vehicle produc...
           10362   🎧  Listen: In today's episode of The Journal p...
           10363   Damar Hamlin‘s charitable toy drive has raised...
           10364   Federal prosecutors have charged two men in th...
...                                                              ...
2023-04-20 99269   Transgender Athlete Barred from Australian Wom...
           99270   Trump's Palm Beach Mansion Next To Mar-A-Lago ...
           110025  Disney announces groundbreaking for affordable...
           110026  Fed to deliver 25-basis-point hike in May, sta...
           110027  Hollywood is facing its first potential writer...

                       Username Target
Date
2023-01-03 10360            WSJ   Down
           10361            WSJ   Down
           10362            WSJ   Down
           10363            WSJ   Down
           10364            WSJ   Down
...                         ...    ...
2023-04-20 99269      zerohedge   Down
           99270      zerohedge   Down
           110025  YahooFinance   Down
           110026  YahooFinance   Down
           110027  YahooFinance   Down

[98421 rows x 3 columns]

In [12]:
df.to_csv('LabeledTweets.csv')